</div>
<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2016-2026 <a href="http://www.la998.com">LA998</a>.</strong> All rights
        reserved.
    </div>
</footer>
{load href="_STATIC_/plugins/jQuery/jquery-2.2.3.min.js"}
{load href="_STATIC_/bootstrap/js/bootstrap.min.js"}
{load href="_STATIC_/plugins/slimScroll/jquery.slimscroll.min.js"}
{load href="_STATIC_/plugins/fastclick/fastclick.js"}
{load href="_STATIC_/js/app.min.js"}
{load href="_STATIC_/js/demo.js"}
</body>
</html>