<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ThinkMe--系统安装</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {load href="_STATIC_/bootstrap/css/bootstrap.min.css"}
    {load href="_STATIC_/css/font-awesome.min.css"}
    {load href="_STATIC_/css/ionicons.min.css"}
    {load href="_STATIC_/css/AdminLTE.min.css"}
    {load href="_STATIC_/css/skins/_all-skins.min.css"}
    {load href="_STATIC_/js/html5shiv.min.js"}
    {load href="_STATIC_/js/respond.min.js"}
</head>
<body class="hold-transition skin-blue layout-top-nav layout-boxed">
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="_STATIC_/index2.html" class="navbar-brand"><b>ThinkMe</b><i>--Installer</i></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
</header>
<div class="content-wrapper">
